VITE_YT_MUSIC_ID=QbfURvUj4smjkN33


VITE_DOWNLOAD_PROXY_URL=https://asmodeo-dev-web.pages.dev/

# Con Pages Function el proxy es tu mismo dominio, no necesitas URL separada.
# Déjalo vacío en local y en producción Pages lo resuelve automáticamente.
# Si quieres apuntar a un worker externo, pon la URL aquí.
VITE_DOWNLOAD_PROXY_URL=
